:root {
  --branding-color: #51999c;
  --secondary-color: #bdd7d7;
  --hover-color: #64bec1;
  --tertiary-color: #fff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 150px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content {
  padding: 60px 20px;
}

.content-body h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-body h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-body h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content-body p {
  font-size: 14px;
}

.content-body {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: var(--hover-color);
  color: var(--tertiary-color);
}

.btn-center {
  text-align: center;
}

.project-content {
  padding: 60px 20px;
}

.logo {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 30px;
}

.logo:hover {
  color: var(--hover-color);
}

nav {
  padding: 10px 0 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 15px;
}

nav li a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav li a:hover,
nav li.active a {
  color: var(--branding-color);
}

.nav-line {
  border-bottom: 1px var(--branding-color) solid;
}

.contact-link {
  color: var(--branding-color);
  font-size: 50px;
}

.contact-link a {
  transition: all 100ms ease-in-out;
}

.contact-link:hover {
  color: var(--tertiary-color);
}

.contact-link-box {
  background: var(--secondary-color);
  width: 10%;
  padding: 20px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.contact-link-box:hover {
  background: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--tertiary-color);
  background: var(--branding-color);
}

@media (max-width: 900px) {
  nav a {
    font-size: 12px;
  }

  h1 {
    font-size: 40px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .hero {
    padding: 230px 20px;
  }

  .content {
    text-align: center;
  }

  .project-title {
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .contact-link-box {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .contact-link-box {
    width: 50%;
  }
}
